@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    color: rgb(175, 118, 118);
    font-family: 'Kanit';
}

.show {
    display: block;
}

canvas {
    display:block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    background-color: #222523;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    border-right: solid 3px rgba(185, 184, 184, 0.541);
    box-shadow: 5px 0px 50px 3px rgba(61, 58, 58, 0.61);
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    background-color: #1E1F20;
    padding: 27px;
    gap: 20px;
}

.canvas {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 5;
    flex-direction: column;
}

.item {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.expand {
    flex-direction: column;
    gap: 15px;
    flex-grow: 5;
}

.header{
    height: 5px;
    display: flex;
    align-items: end;
}

.header h1{
    margin-left: 30px;
    font-size: 3rem;
}

.card {
    font-size: 90%;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #343A39;
    border: solid 3px rgba(220, 220, 220, 0.541);
}

.card button {
    padding: 5px;
    width: 37px;
    height: 37px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
}

.card button:hover {
    background-color: #202C57;
}

.display {
    width: 960px;
    height: 600px;
    background-color: rgba(220, 220, 220, 0.541);
    border-radius: 20px;
    border: solid 2px;
}

.up-or-cam {
    height: 50px;
    display: grid;
    place-content: center;
}

input[type="file"] {
    display: none;
}

label, button {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    background: #343A39;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1.8px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    border: solid 1.5px rgba(220, 220, 220, 0.541);
    padding: 7px 20px;
}

.card-head {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
}

.card-head div {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-head div button {
    align-self: flex-end;
}

.card-body {
    padding: 5px;
    display: none;
}