<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YOLOv8 Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./style/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <!-- <input id="uploadInput" type="file"/>
    <div id="info">
        <p>Please wait...</p>
        <p id="inf">Uploading... </p>
    </div>
    <canvas></canvas> -->
    <div class="wrapper">
        <div class="sidebar">
            <div class="item header">
                <h1>Overview</h1>
            </div>
            <div class="item expand" id="cards">
                <div class="card">
                    <div class="card-head">
                        <div>Lorem</div>
                        <div>ipsum</div>
                        <div><button onclick="onCardOpen(0);"><img src="{{ url_for('static', filename='./asset/dropdown.svg') }}" alt="See description" ></button></div>
                    </div>
                    <div class="card-body">
                        Test
                    </div>
                </div>
                <div class="card">
                    <div class="card-head">
                        <div>Lorem</div>
                        <div>ipsum</div>
                        <div><button onclick="onCardOpen(1);"><img src="{{ url_for('static', filename='./asset/dropdown.svg') }}" alt="See description" ></button></div>
                    </div>
                    <div class="card-body">
                        <div class="nutrients">
                            <p>Fiber: 12</p>
                            <p>Calcium: 12</p>
                            <p>Carbohydrates: 12</p>
                            <p></p>
                            <p></p>
                        </div>
                        <button class="button">Google</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-head">
                        <div>Lorem</div>
                        <div>ipsum</div>
                        <div><button onclick="onCardOpen(2);"><img src="{{ url_for('static', filename='./asset/dropdown.svg') }}" alt="See description" ></button></div>
                    </div>
                    <div class="card-body">
                        Test
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="up-or-cam">
                    <input id="uploadInput" type="file"/>
                    <label for="uploadInput">Upload File</label>
                </div>
                <div class="up-or-cam">
                    <input id="liveInput" type="file"/>
                    <label for="liveInput">Use Camera</label>
                </div>
            </div>
        </div>
        <div class="canvas">
            <button onclick="enableZoom();" id="zoomtoggle">Enable zoom (experimental)</button>
            <div id="info">
                <p>Please wait...</p>
                <p id="inf">Uploading... </p>
            </div>
            <div class="display">
                <canvas id="viewer"></canvas>
            </div>
        </div>
    </div>
    <script>
        const dropdown =  "{{ url_for('static', filename='./asset/dropdown.svg') }}";
    </script>
    <script src="{{ url_for('static', filename='./script/canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='./script/script.js') }}"></script>
</body>
</html>